@import "../../styles/base/variables";

tbody {
  tr {
    color: $white-color;
    cursor: pointer;

    &:hover {
      th:nth-child(1),
      th:nth-child(2),
      th:nth-child(3),
      th:nth-child(4) {
        background-color: darken($primary-color, 4%);
      }
    }

    th {
      font-size: 16px;
      font-weight: 400;
      padding: 25px 15px;
      text-align: right;
      border-bottom: 1px solid $light-grey;
      background-color: darken($primary-color, 2%);

      img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }

      &:first-child {
        display: flex;
        text-align: left;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        span {
          font-size: 16px;
          font-weight: 400;
          text-transform: capitalize;
        }
      }
    }
  }
}
